<div class="container">
  <h2>Fee Types</h2>
  <a class="btn btn-success" routerLink="/fee-types/create">Create Fee Type</a>&nbsp;
  <button class="btn btn-success" (click)="onBtnExport()">Export to CSV</button>
  <br>
  <br>
  <ag-grid-angular style="width: 50%; height: 70%;" [gridOptions]="feeTypeGridOptions" [rowData]="feeTypes"
    [class]="themeClass" (rowClicked)="onRowClicked($event)" (gridReady)="onGridReady($event)" />

  <!-- Confirmation Dialog Popup -->
  <div class="confirmation-popup" *ngIf="confirmationDialogVisible">
    <div class="confirmation-dialog">
      <app-confirmation-dialog [title]="'Confirmation'"
        [message]="'Are you sure you want to delete this fee type?'"></app-confirmation-dialog>
      <br>
      <button class="btn btn-danger" (click)="deleteFeeType()">Confirm Delete</button>&nbsp;
      <button class="btn btn-secondary" (click)="closeConfirmationDialog()">Cancel</button>
    </div>
  </div>
</div>