<header>
  <h1>Welcome to School Management System</h1>
</header>
<section>
  <article>
    <h2>A school management system (SMS)</h2>
    <p>A school management system (SMS) is a software application that helps schools streamline administrative tasks. It can automate processes like student enrollment, 
      course scheduling, fee management, library management, and attendance tracking.</p>
   <p>SMS can also help schools manage data and transactions. </p> 
   <p>SMS can help schools in several ways, including: </p>
   <h4>Reducing workload:</h4><p> SMS can help schools use time more efficiently by reducing workloads. </p>
   <h4>Managing human resources:</h4><p> SMS can help schools manage human resources more efficiently.</p> 
    <h4>Improving communication:</h4><p> SMS can make it easier for school administrators to communicate with each other. </p>
    <h4>Tracking budgets:</h4><p> SMS can help schools track their budgets and reduce unnecessary expenses. </p>
    <p>SMS can also help schools modernize education management, improve operational efficiency, and increase stakeholder engagement.</p>
  </article>
</section>
<footer>
  <p>&copy; 2024 School Management System. All rights reserved.</p>
</footer>
